{
	"plugins": ["prettier"],
	"extends": ["eslint:recommended", "react-app", "react-app/jest", "prettier"],
	"rules": {
		"import/no-default-export": "error",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "error",
		"no-await-in-loop": "error",
		"no-debugger": "warn",
		"no-undef": "error",
		"no-unused-vars": "error",
		"no-use-before-define": "error",
		"require-atomic-updates": "error",
		"no-unreachable": "error",
		"no-constructor-return": "error",
		"no-console": "warn"
	}
}
